%li.mr-35
  = link_to books_path, class: 'filter-link' do
    All
    %span.badge.general-badge= Book.count
- categories.each do |category|
  %li.mr-35
    = link_to category_books_path(category), class: 'filter-link' do
      = category.name
      %span.badge.general-badge= category.books.count
