- if more_books_left
	= form_tag(books_path, method: :get) do 
		= hidden_field_tag "page", (Integer(page_number || 1) + 1)
		= hidden_field_tag "sort_by", sort_by
		= hidden_field_tag "category_id", category_id
		= hidden_field_tag "sort_title", sort_title
		= submit_tag "View More", class: "btn btn-primary"