%main.container
  %h1.general-title-margin Settings
  %ul.nav.clearfix.mb-20{role: "tablist"}
    %li.tab-item.active{role: "presentation"}
      %a.tab-link.address{href: "#address", 'aria-controls': "address", role: "tab", 'data-toggle': "tab"} Address
    %li.tab-item{role: "presentation"}
      %a.tab-link.privacy{href: "#privacy", 'aria-controls': "privacy", role: "tab", 'data-toggle': "tab"} Privacy
  .tab-content
    #address.tab-pane.fade.in.active.general-main-wrap{role: "tabpanel"}
      %div
        .hidden-xs.hidden-sm
          .row
            .col-md-5
              %h3.general-subtitle.mt-0 Billing Address
            .col-md-5.col-md-offset-1
              %h3.general-subtitle.mt-0 Shipping Address
        .row
          .col-md-5.mb-40.billing
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Billing Address
            = render 'devise/registrations/address', address: billing_address
          .col-md-5.col-md-offset-1.mb-25.shipping
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Shipping Address
            = render 'devise/registrations/address', address: shipping_address
    #privacy.tab-pane.fade{role: "tabpanel"}
      .row.mb-60
        .col-sm-5
          = form_for(resource, url: "/users/edit_email/#{resource.id}", html: { method: :put }) do |f|  
            %p.in-gold-500.font-18.mb-25 
              Email
              %div.general-form-md.email
                .form-group.mb-35.field
                  = f.label :email, class: "control-label input-label", value: "Enter Email"
                  = f.email_field :email, autofocus: true, class: "form-control", id: "email", placeholder: "Enter your email"
                .general-text-align.actions
                  = f.submit "Save", class: "btn btn-default mb-35", id: "save-email-btn"
        .col-sm-5.col-sm-offset-1.pass-form-cont
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            %p.in-gold-500.font-18.mb-25 
              Password
              %div.general-form-md.divider-lg-bottom.pb-25.password
                .form-group.mb-30.field
                  = f.label :current_password, class: "control-label input-label", value: "Old Password"
                  = f.password_field :current_password, autocomplete: "off", class: "form-control", id: "old-password", placeholder: "Old Password"
                  %br
                .form-group.mb-30.field
                  = f.label :password, class: "control-label input-label", value: "New Password"
                  = f.password_field :password, autocomplete: "off", class: "form-control", id: "password", placeholder: "New Password"
                .form-group.mb-40.field
                  = f.label :password_confirmation, class: "control-label input-label", value: "Confirm Password"
                  = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "confirm-password", placeholder: "Confirm Password"
                .general-text-align.actions
                  = f.submit "Save", class: "btn disabled mb-10", id: "save-pass-btn"
        .col-sm-12.remove_acc
          %p.in-gold-500.font-18.mb-25 Remove Account
          %form
            .general-settings-btn
              = link_to("Please Remove My Account", user_registration_path, method: :delete, class: "btn disabled mb-20", id: "remove-acc-button")
            .form-group.checkbox.general-settings-checkbox
              %label.checkbox-label
                %div.remove-box
                  %div
                    %input.checkbox-input#remove-acc-checkbox{type: "checkbox", hidden: "true"}
                    %span.checkbox-icon
                      %i.fa.fa-check
                  %div
                    %span.checkbox-text I understand that all data will be lost
