%p.general-address
  = address.full_name
  = link_to('edit', edit_url, class: 'general-edit')
  %br
  = address.address
  %br
  = address.full_city
  %br
  = address.country
  %br
  = address.full_phone
