%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600 Book
      %th.col-method
      %th
        %span.in-grey-600 Price
      %th
        %span.in-grey-600 Quantity
      %th
        %span.in-grey-600 Total
  %tbody
    - positions.each do |position|
      %tr
        %td
          .general-img-wrap-table
            %img.cart-img-shadow.pull-left{src: position.book.images.first.url, alt: position.book.name}
        %td
          %p.title= position.book.name
          %p.in-grey-600.fw-300= position.book.short_description
        %td
          %span.font-16.in-gold-500= number_to_currency(position.unit_price,:unit=>'€')
        %td
          %span.ml-30= position.quantity
        %td
          %span.font-16.in-gold-500= number_to_currency(position.total_price,:unit=>'€')