%main.container.general-main-wrap
  .text-center
    %h1.mb-30 Resend unlock instructions
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "general-form" }) do |f| 
    = devise_error_messages!
    .form-group.mb-25
      = f.label :email 
      %br
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your email"
    .actions
      = f.submit "Resend unlock instructions", class: "btn btn-default center-block mb-20"
    = render "devise/shared/links" 
