%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
      %li{'data-target': "#slider", 'data-slide-to': "2"}
    .carousel-inner{role: "listbox"}
      - @latest_books.each do |book|
        .item
          .row
            .col-sm-5
              .general-img-wrap
                %img.img-shadow.general-thumbnail-img{src: book.images.first.try(:url), alt: book.name}
            .col-sm-7
              .mb-60
                %h1= book.name
                %p.lead= book.short_description
                %p.lead.small= book.decorate.authors_formated
                .general-align
                = button_to 'Buy Now', positions_path(position: {quantity: 1, book_id: book.id}), class: 'btn btn-primary buy', remote: true, method: :post
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    =form_tag(books_path, method: :get) do
      = submit_tag "Get Started", class: "btn btn-default", id: "get-started"
  .mb-35#best_sellers
    %h3 Best Sellers
    - Category.all.map(&:best_seller).each_slice(4) do |books_row|
      .row
        - books_row.each do |book|
          - if book.present?
            .col-sm-6.col-md-3
              .general-thumb-wrap
                .thumbnail.general-thumbnail
                  %img.img-shadow.general-thumbnail-img{src: book.images.first.try(:url), alt: book.name}
                  .thumb-hover
                    .general-thumb-link-wrap
                      = link_to book_path(book), class: 'thumb-hover-link' do
                        %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                      = link_to positions_path(position: {quantity: 1, book_id: book.id}), { method: :post, remote: true, class: 'thumb-hover-link buy' } do
                        %i.fa.fa-shopping-cart.thumb-icon
              .mb-35
                .clearfix
                  %p.pull-right.font-16.in-gold-500= book.decorate.price_euro
                  %p.title.mr-55= book.name
                %span.divider-sm
                %p.lead.small= book.decorate.authors_formated
