%tr
  %td
    .general-img-wrap-table
      %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  %td
    %p.title
      = link_to book.name, book_path(book)
  %td
    %span.font-16.in-gold-500= number_to_currency(book.price,:unit=>'€')
  %td
    .input-group
      %a.input-link.neg-quantity
        %i.fa.fa-minus.line-heaght-40
      %input.form-control.quantity-input{type: "text", value: "#{position.quantity}", id: "quantity_#{position.id}"}
      %a.input-link.pos-quantity
        %i.fa.fa-plus.line-heaght-40
  %td
    %span.font-16.in-gold-500= number_to_currency(position.total_price,:unit=>'€')
  %td
    %button.close.general-cart-close{type: "button", 'aria-label': "Close", id: "close_#{position.id}"}
      %span{'aria-hidden': "true"} &times; 