<!DOCTYPE html>
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %title Bookstore
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet"}
    %script{src: "https://use.fontawesome.com/67602d7308.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
            %span.sr-only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand Makhno Bookstore
          = render 'layouts/cart', quantity: current_order.try(:positions).try(:size), cart_class: 'shop-link pull-right visible-xs'
        = render 'layouts/cart', quantity: current_order.try(:positions).try(:size), cart_class: 'shop-link pull-right hidden-xs'
        #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
          .visible-xs
            = render 'layouts/main_menu_mobile', categories: categories
          .hidden-xs
            = render 'layouts/main_menu_desktop', categories: categories
    %p.notice= notice
    %p.alert= alert
    .application_container
      = yield
    %footer.navbar-inverse
      .container
        .row
          .col-sm-9
            = render 'layouts/footer_menu'
          .col-sm-3
            = render 'layouts/contacts'